* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    /* 폰트사이즈, 구글폰트, 글자간격 */ 
}

a {
    text-decoration: none;
    color: white;
}
/* 메뉴css */
ul {
    border: 1px dotted black;
    list-style: none;
    background-color: rgb(10, 7, 186);
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

ul > li > a {
    display: inline-block;
    width: 100px;
    padding: 14px 16px; 
    text-align: center;
}
ul  > li:hover > a {
    background-color: aqua;
}

.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d21515;
    min-width: 160px;
    z-index: 1;
}

div.dropdown-content a{
    display: block;
    padding: 16px 16px;
}

div.dropdown-content a:hover{
    background-color: aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    background-color: blueviolet;
}