form {
    box-sizing: border-box;
    border: 1px solid black;
}

th {
    padding: 30px;
    border: 1px black;
    
}
td {
   border-bottom: 1px dotted black;
}
input {
    border: 0;
}
button {
    box-sizing: border-box;
    margin: 1%;
    width: 98%;
    height: 60px;
    font-size: 20px;
    background-color: rgb(166, 228, 166);
}